<!DOCTYPE html>
<html>
    <head>
        <!-- <meta name="google-signin-client_id" content="<%= htmlWebpackPlugin.options.googleSignInClientId %>"> -->
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <script src="https://apis.google.com/js/platform.js"></script>
    </head>
    <body><div id='<%= htmlWebpackPlugin.options.id %>'></div></body>
</html>
